<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functiona Suite">
  <test  name="Login Test">
  
  <groups>
         <run>
            <include name = "sniff" />
         </run>
      </groups>
  
  <classes>
         <class name = "refelectionAPI.ReflectionDemo" />
      </classes>
  
  
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
